button {
  width: 100%;
  padding: 16px 0;
  background-color: white;
  color: black;
  font-size: 1.3rem;
  font-weight: bold;
  appearance: none;
  border: none;
  border-radius: 24px;
  cursor: pointer;
}
